# Jupyter
.ipynb_checkpoints/

# Xcode
# xcuserdata
project.xcworkspace/
Breakpoints*

# Vim
*.swp

# Python
*.pyc

# OSX
.DS_Store

# Project five-in-a-row
five-in-a-row/build
five-in-a-row/ml/games.txt
